@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* FONT */
/* @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap'); */
/* body {
  font-family: "Space Grotesk", sans-serif;
} */

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  /* outline: solid; */
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

.swiper-pagination-bullet-active {
  background: #fff;
  border: 1px solid #fff;
  color: #fff;

}

/* custom scroll bar */
::-webkit-scrollbar {

  width: 6px;
  background-color: #D9D9D9;

}

::-webkit-scrollbar-thumb {
  background-color: #616161;
  /* color of the thumb */
  border-radius: 6px;
  /* roundness of the thumb */
}

.bluegrad {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: -1;
  filter: blur(100px);

  background: #dc18a1c0;
  top: 40rem;
  left: 32rem;
}

.pinkgrad {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: -1;
  filter: blur(100px);
  background: #3382C2;


}

.shadowph {
  filter: drop-shadow(24px 20px 34px rgba(0, 0, 0, 0.562));
  transition: all 0.2s ease-in-out;

}

.shadowph:hover {
  filter: drop-shadow(4px 20px 24px rgba(0, 0, 0, 0.329));
}

/* .loginGradientBorder::before {
  border-radius: inherit;
  background: red;
  background-image: linear-gradient(135deg,#0073D2 35%, #E11AA5 52%);
} */

.footer{
  background: rgba(255, 255, 255, 0.534);
backdrop-filter: blur(10px);  
}

