/* CSS Variables */
.notesbody {
  margin: 0px;
}
.notesbody {
  --clipPath : rect(-500px, 500px, 260px, -150px);
  --background-primary: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  --promptField-bg : linear-gradient(19deg, #808080 0%, #454040 100%);
  --font-color-primary: #333;
  --elevation-background: #F722B7;
  --featureCard-bg: rgb(203, 213, 225);
  --link-color: #fff;
  /* --font-family-primary: 'monument', sans-serif; */
  --handwriting-font: 'Homemade Apple', cursive;
  --primary-color: #1a73e8;
  --ink-color: #000f55;
  --field-borders: #222;
  --label-color: #333;
  --primary-button-bg: #1d1d1d;
  --primary-button-color: #eee;
  --font-color-delete: white;
  --delete-button-borders: #dc3545;
  --loading-spinner-color: #000;
  --primary:#000;
  width: 100%;
  overflow-x: hidden;
}
.notesbody.dark {
  --primary:#000;
  --background-primary: linear-gradient(to right, #434343 0%, black 100%);
  --font-color-primary: #ccc;
  --promptField-bg : linear-gradient(19deg, #e6e6e6 0%, #b8b6b6 100%);
  --elevation-background: #f3f3f3;
  --link-color: #FFF;
  --label-color: #d3d3d3;
  --featureCard-bg: rgb(30, 41, 59);
  --field-borders: #e0e0e0;
  --primary-button-bg: #eee;
  --primary-button-color: #333;
  --delete-button-borders: #e76f7b;
  --font-color-delete: #e76f7b;
  --loading-spinner-color: #fff;

}

.button, .move-left, .move-right{
  /* font-family: 'monument', sans-serif; */
  background-color: var(--primary-button-bg);
  color: var(--primary-button-color);
}

.logoText{
  font-family: 'monument', sans-serif;;
}
.button{
  /* font-family: 'monument', sans-serif; */
  background-color: var(--primary-button-bg);
  color: var(--primary-button-color);
}
@font-face {
  font-family: 'Hindi_Font';
  src: url(/fonts/Hindi_Type.ttf);
}
@font-face {
  font-family: 'monument';
  src: url(/fonts/MonumentExtended-Regular.otf);
  /* Add additional formats if needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'monument-bold';
  src: url(/fonts/MonumentExtended-Ultrabold.otf);
  /* Add additional formats if needed */
  font-weight: bold;
  font-style: normal;
}

/* Default CSS Changes */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.notesbody {
  /* background-image: var(--background-primary); */
  color: var(--font-color-primary);
  font-size: 1.05rem;
  font-family: var(--font-family-primary);
  min-height: 100vh;
}
.navlink{
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.7;
  color: var(--field-borders);
  text-decoration:solid underline transparent 2px;

}
.navlink:hover{
  transition-duration: 500ms;
  transition-property: all;
  color: var(--label-color);
  opacity: 1;
  text-decoration:solid underline #B721FF 2px;
}
section {
  padding: 20px 0px;
}
button {
  border: none;
  background-color: var(--elevation-background);
  color: var(--font-color-primary);
  border-radius: 6px;
  cursor: pointer;
  padding: 10px 20px;
}


/* hr{
  height: 1px;
  border: none;
  background-color: var(--font-color-primary);
} */
.generate-image-button, .download-image-button{
  background-color: #234cd5;
  background: var(--blue-gradient);
  background-image: linear-gradient(to right, #2b49d2, #203ec0, #1b36b0, #072195);
  cursor: pointer;
  background-size: 400% 200%;
  moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  animation: border-flicker 2s linear infinite;

}
.generate-image-button:hover, .download-image-button{
  background-position: 100% 0;
animation: border-flicker 2s linear infinite;
    moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.card:focus {
  outline: none;
}

label {
  color: var(--label-color);
  font-size: 0.75rem;
}

label.block {
  display: block;
  padding-bottom: 5px;
}

select {
  background: url('/images/dropdown.svg') no-repeat;
  background-position: calc(100% - 14px) center;
  border: none;
  color: #333;
  border-radius: 4px;
  font-size: 0.8rem;
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
}

option {
  color: #333;
}

.notesbody.dark select {
  background: url('/images/dropdown-white.svg') no-repeat;
  background-position: calc(100% - 14px) center;
}

input {
  padding: 8px 13px;
  border-radius: 4px;
  border: 1px solid var(--elevation-background);
  color: var(--font-color-primary);
  background-color: transparent;
  display: block;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield !important;
  -webkit-appearance: none;
  width: 100%;
}

/* global classes */
ul.info-ul {
  padding-left: 20px;
}

ul.info-ul > li {
  padding: 5px 5px;
}

.shadow {
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2);
}
.display-flex {
  display: flex;
}
.display-flex.padded-flex > div {
  padding: 0px 10px;
}
.display-flex.padded-flex > div:first-child {
  padding-left: unset;
}
.flex-1 {
  flex: 1;
}
.padding-around {
  padding-right: 30px;
  padding-left: 30px;
}
.padding-up-down {
  padding-top: 6px;
  padding-bottom: 7px;
}

/* Other Styles */
.generate-image-section {
  padding: 10px 0;
  font-size: 1.2rem;
}
.generate-image-button {
  background-color: var(--primary-button-bg);
  color: var(--primary-button-color);
  /* font-family: 'monument', sans-serif; */
}
.github-corner {
  position: absolute;
  top: 0;
  z-index: 99999;
  right: 0px;
}
.notesbody.dark .github-corner {
  filter: invert(100%);
}
.imp-button {
  color: var(--font-color-primary);
  border: 1px solid var(--font-color-primary);
}
.delete-button {
  color: var(--font-color-delete);
  border: 1px solid var(--delete-button-borders);
  background-color: var(--elevation-background);
}
.customization-col {
  padding: 0px 50px !important;
}

.left-margin-and-content {
  min-height: calc(100% - 50px);
}

.sponsor-name-section {
  padding: 50px 0px;
}
.sponsor-container {
  display: inline-block;
  color: var(--font-color-primary);
}
.sponsor-title {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}

.page-a {
  width: 400px;
  height: calc(11.7 * 400px / 8.3); /* A4 Ratio */
  background: #fff;
  border: 1px solid var(--elevation-background);
  font-size: 10pt;
  position: relative;
  top: 0px;
  font-family: var(--handwriting-font);
  color: var(--ink-color);
  line-height: 1.5em;
  overflow-y: auto;
  scrollbar-color: transparent;
  scrollbar-width: thin;
}
.paper-content {
  margin: 10px;
  width: 100%;
}
.page-a.lines .paper-content {
  background-image: linear-gradient(#999 0.05em, transparent 0.1em);
  background-color: unset !important;
  background-size: 100% 1.5em;
}

.margined .paper-content {
  padding: 5px;
  margin: 0px;
  padding-left: 55px;
}

.left-margin,
.top-margin {
  display: none;
}

.margined .top-margin {
  height: 50px;
  border-bottom: 2px solid pink;
  width: 100%;
  display: block;
  overflow-y: auto;
}

.margined .left-margin {
  width: 50px;
  height: calc(100%);
  display: inline-block;
  border-right: 2px solid pink;
  top: 0px;
  padding-top: 50px;
  overflow-x: hidden;
  position: absolute;
  left: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.overlay.shadows {
  display: block;
  /* background-image: linear-gradient(10deg, #000a, #0001); */
}

/* OUTPUT */
.output {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  border: 1px solid var(--elevation-background);
}
.output .close-button {
  position: absolute;
  right: -3px;
  top: -11px;
  border-radius: 100%;
  padding: 5px 5px;
  background-color: #333;
  color: #fff;
  font-size: 15pt;
  font-weight: bold;
}
.download-image-button {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 10px 15px;
  border-radius: 8px;
}
#download-as-pdf-button {
  display: none;
}
#download-as-pdf-button.show {
  display: inline-block;
}
#delete-all-button {
  display: none;
}
#delete-all-button.show {
  display: inline-block;
}
.output img {
  width: 300px;
  margin: 0px 10px;
}

input::placeholder{
  /* font-family: 'monument', sans-serif; */
}

#faq p {
  overflow-wrap: break-word;
  overflow: hidden;
  width: 100%;
}

#covid-donations ul li {
  padding: 5px 0px;
}

.donations-list {
  padding: 58px 0px;
  text-align: center;
}

@media (max-width: 1030px) {
  .notesbody {
    --clipPath : rect(-500px, 500px, 220px, -150px);
  }
  .padding-around {
    padding-left: 5px;
    padding-right: 5px;
  }
  .output-grid.responsive-flex {
    grid-template-columns: auto;
  }
  .customization-col {
    padding: 100px 5px !important;
  }
  .page-container {
    width: 100%;
    /* overflow-x: scroll; */
  }

  .page-container-super {
    display: flex;
    flex-direction: column;
  }

  .output img {
    width: 200px;
    margin: 0px 10px;
  }

  .project-contributors {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .contributor-profile {
    width: 7.5em;
    height: 150px;
  }

  .contributor-username {
    font-size: 9pt;
  }
}

fieldset {
  --field-borders: #0a349e;
  padding: 17px 20px;
  border-radius: 5px;
  border: 1px solid var(--field-borders);
  margin-top: 16px;
}

legend {
  font-size: 0.88rem;
  padding: 0px 6px;
  color: var(--font-color-primary);
}

select,
input {
  --field-borders: #222;
  width: 100%;
  border: 1px solid var(--field-borders);
  padding: 10px;
  padding-right: 30px;
  color: var(--font-color-primary);
}

input[type='file']::-webkit-file-upload-button {
  display: none;
}
input[type='file']::before {
  content: 'Choose File';
  display: inline-block;
  background-color: var(--background-primary);
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}

.postfix-input {
  position: relative;
}
.postfix-input label {
  display: block;
  margin-bottom: 5px;
}

.postfix-input::after {
  content: attr(data-postfix);
  position: absolute;
  /* right: 25px;
  bottom: 12px; */
  font-weight: 700;
  color: hsl(0,0%,40%);
  font-size: 12px;
  top: 35%;
  right: 4%;
}

.upload-handwriting-container {
  margin-top: -10px;
}

.experimental {
  opacity: 0.8;
  cursor: not-allowed;
}

.category-grid {
  display: grid;
  grid-gap: 10px;
  /* grid-auto-flow: column;
  grid-auto-columns: 1fr; */
}

.fade-in-dark,
.fade-in-light {
  transition: 0.3s ease;
}

@media (max-width: 768px) {
  .category-grid {
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
  }
}

/*To generate margin between download as pdf and delete button in small screens*/
@media (max-width: 430px) {
  .delete-button {
    margin-top: 10px;
  }
}

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.waves {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0.6) scaleX(1.5);
  transition: all 0.5s ease-in-out;
  transform-origin: bottom;
  box-sizing: border-box;
  display: block;
  pointer-events: none;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--loading-spinner-color);
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* features.css */

/* DARK MODE SWITCH */
.dark-mode-toggle {
  cursor: pointer;
  top: 100px;
  right: 150px;
  border: none;
  background: transparent;
}
.notesbody:not(.user-is-tabbing) .dark-mode-toggle:focus {
  outline: none;
}
.dark-mode-toggle .moon {
  padding: 10px;
}
.dark-mode-toggle .sun {
  padding: 5px;
}
.notesbody .dark-mode-toggle .moon {
  display: none;
}
.notesbody .dark-mode-toggle .sun {
  display: inline-block;
}
.notesbody.dark .dark-mode-toggle .moon {
  display: inline-block;
}
.notesbody.dark .dark-mode-toggle .sun {
  display: none;
}

/* Switch */
.switch-toggle {
  position: relative;
  display: block;
  margin-top: 6px;
  cursor: pointer;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  background-color: var(--elevation-background);
}

.switch-toggle input {
  position: relative;
  top: 4px;
  left: 4px;
  z-index: -1;
}

.switch-toggle div {
  position: absolute;
  border-radius: 50%;
  background-color: #9994;
  transition: 0.1s ease;
}

.switch-toggle input:focus + div {
  outline: 1;
}

.switch-toggle input:checked + div {
  left: 28px;
  background-color: white;
}

.switch-toggle.outer div {
  width: 16px;
  height: 16px;
  top: 4px;
  left: 5px;
}

@media (max-width: 768px) {
  .dark-mode-toggle {
    right: 10px;
  }
}

/* POPUP, DRAW AND PDF-PREVIEW  */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  z-index: 999999;
  color: #ddd;
  padding: 100px;
  display: none;
}

.popup-container.show {
  display: block;
}

.popup-container .close-button {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 20px 30px;
  cursor: pointer;
  color: #ddd;
  background-color: transparent;
  border: none;
  font-size: 50pt;
  font-weight: bold;
}

.popup-container .close-button:hover {
  color: #fff;
  transition: color 0.5s ease;
}

#diagram-canvas {
  cursor: url('/images/favicon-32x32-3.png'), crosshair;
}

.contributor-profile {
  display: inline-block;
  margin: 10px 5px;
  text-align: center;
  background-color: var(--elevation-background);
  color: var(--font-color-primary);
  padding: 10px;
  width: 130px;
  overflow: hidden;
  border-radius: 4px;
  height: 170px;
  box-shadow: 4px 3px 16px -3px #0009;
}

img.contributor-avatar {
  width: 100%;
}

.contributor-profile a {
  text-decoration: none;
  color: var(--font-color-primary);
  font-weight: bold;
  display: block;
  font-size: 10pt;
}

.contributor-username {
  margin-top: 7px;
}


/* New Styles */
/* .category-grid */
.category-grid {
  grid-template-columns: repeat(auto-fit,minmax(95px,1fr));
}
.output-grid {
  display: grid;
  grid-template-columns: auto 1fr;
}
.page-container {
  /* padding-inline-start: 1rem; */
}
.margined {
  aspect-ratio: 0.71;
  position: sticky;
  top: 0;

  border-radius: 0.5rem;
  border: 1px solid #8C8C8C !important;
  /* inline style overwrite kar raha tha isliye !important */
}

.customizationFieldsetGrid {
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
}

select,
input {
  font-size: 0.8rem;
}

.ttsButton {
  z-index: 100;
  background: var(--background-primary);
  /* box-shadow: 0 0.3rem 1rem hsl(0,0%,0%,20%); */
}

fieldset {
  --field-borders: #0a349e;
  border-width: 0.125rem;
}
fieldset label {
  font-weight: 500;
}
legend {
  font-size: 1rem;
  font-weight: 900;
}
select,
input {
  --field-borders: #222;
}

.handWritingGrid {
  gap: 1.25rem;
}

hr {
  border-width: 1px;
  border-style: solid;
  border-radius: 100%;
  border-image-source: linear-gradient(90deg, transparent, #8C8C8C, transparent);
  border-image-slice: 1;
}


#output-header {
  font-size: 1.2rem;
  color: var(--font-color-primary);
  font-weight: bold;
}
.output {
  border-radius: 0.5rem;
  border: 1px solid #8C8C8C;
}

.output .close-button {
  top: 0;
  right: 0;
}